<div class="modal-box main-container--middle">
    <!-- Header -->
    <div class="modal-box__header">
      <h1 class="modal-box__header-title">Registration</h1>
      <a href="" class="modal-box__header-close">
        <i class="far fa-times-circle"></i>
      </a>
    </div>

      <!-- Body -->
    <div class="modal-box__body">
      <form>
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Full Name">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <p appHashpassword>Show Password</p>
            <input id="password" class="input" type="password" placeholder="Password">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Confirm">
          </div>
        </div>
        <div class="modal-box__buttons">
          <a class="modal-box__button button is-light">Cancel</a>
          <a class="modal-box__button button is-info">Submit</a>
        </div>
      </form>
    </div>
</div>
