<nav class="header">
  <div class="header__left-search-container">
    <input type="text" placeholder="Search ..." class="header__search-input">
    <button class="header__search-btn"><i class="fas fa-search"></i></button>
  </div>
  <div class="header__right-navbar">
    <ul class="header__right-navar-list">
      <li [routerLinkActive]="['active']" class="header__list-item">
        <a [routerLink]="['/user/login']" class="header__list-link">Login</a>
      </li>
      <li [routerLinkActive]="['active']" class="header__list-item">
        <a [routerLink]="['/user/register']" class="header__list-link">Register</a>
      </li>
      <li class="header__list-item">
        <a [routerLink]="['/user/logout']" class="header__list-link">Logout</a>
      </li>
      <li [routerLinkActive]="['active']" class="header__list-item">
        <a [routerLink]="['/user/profile']" class="header__list-link">Profile</a>
      </li>
    </ul>
  </div>
</nav>